@import "tailwindcss";

@layer base {
  /* * {
    @apply transition-all duration-300 ease-in-out;
  } */
  a.active {
    @apply font-extrabold text-lg bg-gray-50 text-slate-950 px-2 py-2 border-3 border-black rounded-2xl drop-shadow-[-2px_2px_0px_rgba(0,0,0,1)] hover:-translate-y-1 hover:translate-x-1 hover:drop-shadow-[-4px_4px_0px_rgba(0,0,0,1)] hover:bg-white hover:scale-105 transition-transform cursor-pointer;
  }
  button{
    @apply cursor-pointer;
  }
}

.blocklyFlyoutScrollbar {
  display: none !important;
}
.blocklyToolbox{
  /* background: orange; */
  margin: 0px;
  padding:8px;
}
.blocklyTreeSeparator{
  background: color;
  color: black;
  border: 1px solid;
}
.blocklyToolboxContents {
  padding: 0.5em;
}
.blocklyToolboxCategory {
  padding: 3px;
  margin-bottom: 0.5em;
  border-radius: 4px;
}

.blocklyTreeRowContentContainer{
  display: flex;
  flex-direction: column;
  align-items:center;
}
.blocklyToolboxCategory {
  height: initial;
}